* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Consolas, "Courier New", monospace;
	font-weight: 300;
	background: #121212;
	color: white;
}

#root {
	min-height: 100vh;
}

.app {
	min-height: 100vh;

	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	gap: 1.5rem;
}

h1 {
	font-size: 3rem;
}

p {
	color: #b3b3b3;
}

button {
	background: #1db954;
	color: white;

	border: none;
	border-radius: 999px;

	padding: 14px 32px;

	font-size: 1rem;
	cursor: pointer
}

button:hover {
	background: #1ed760;
}